

<!-- Toolbar -->
<h1>Test</h1>
<app-button [id]="'id'" [texte]="'un gros titre'"></app-button>
<div class="ui-test"><app-twitch-button [name]="'JsxFire'" [link]="'http://www.jcousinou.fr/'" [onAir]="true"></app-twitch-button></div>
<div class="ui-test"><app-twitch-button [name]="'Elokil'" [link]="'http://www.jcousinou.fr/'" [onAir]="true"></app-twitch-button></div>
<div class="ui-test"><app-product-ui [name]="'Hoodies'" [imgUrl]="'../../../../assets/images/hoodies-femme.jpg'" [price]="12.99"></app-product-ui></div>
<div class="ui-test-xl"><app-shop-news-ui [title]="'Lorem Ipsum'" [imgUrl]="'../../../../assets/images/shirt.jpg'"></app-shop-news-ui></div>
<div class="ui-test"><app-article-ui [title]="'Lorem ipsum'" [author]="'JsxFire'" [imgUrl]="'../../../../assets/images/Esport.jpg'" [comment]="150"></app-article-ui></div>
<div class="ui-test-xl"><app-article-une-ui [title]="'Lorem ipsum'" [author]="'JsxFire'" [imgUrl]="'../../../../assets/images/violet-desk.jpg'" [comment]="150"></app-article-une-ui></div>
<div class="ui-test"><app-filter-ui [name]="'Filter-UI'"></app-filter-ui></div>
<router-outlet></router-outlet>
